<!-- <p>Manufacturer: <%=@manufacturer.name() %></p>
<p>Name:<%=@name.name() %></p>
<p>Type:<%=@type.name() %></p>
<p>Cost_Price:<%=@cost_price.name() %></p>
<p>Retail_Price:<%=@retail_price.name() %></p>
<p>Quantity:<%=@quantity.name() %></p> -->
