<table style = border: medium solid; position: fixed;
  border = 6; width = 99%; text-align: center; background-color: gold>

  <tr><th> Manufacturer</th>
    <th> Weapon Name</th>
    <th> Weapon Type</th>
    <th> Quantity</th>
    <th> Cost Price</th>
    <th> Retail Price</th>
    <th> Mark up %</th>
    <th> Stock Holding</th>
  </tr>

  <% @weapons.each do |weapon| %>

  <tr>
  <td ><%= Manufacturer.find(weapon.manufacturer_id).name %></td>
    <td> <%= weapon.name %></td>
    <td> <%= weapon.type %></td>
    <td> <%= weapon.quantity %></td>
    <td> <%= weapon.cost_price %></td>
    <td> <%= weapon.retail_price %></td>
    <td> <%= weapon.markup_value %></td>
    <td> <%= weapon.check_stock %></td>
  </tr>
  <% end %>
</table>
