<label for="manufacturer">Manufacturer:</label>
<select id="manufacturer" value="<%= @manufacturer %>" />
  <option value="Häkke">Häkke</option>
  <option value="Omolon">Omolon</option>
  <option value="Suros">Suros</option>
  </select>

  <label for="name">Name</label>
  <select id="name" name="<%=@name %>">
    <option value="Fabian Strategy">Fabian Strategy</option>
    <option value="Cúchulainn-D">Cúchulainn-D</option>
    <option value="Stillpiercer">Stillpiercer</option>
    <option value="Hard Light">Hard Light</option>
    <option value="Hung Jury SR4">Hung Jury SR4</option>
    <option value="EX-MACHINA~">EX-MACHINA~</option>
    <option value="Suros Regime">Suros Regime</option>
    <option value="Suros MKB-21">Suros MKB-21</option>
    <option value="Suros JLL-19">Suros JLL-19</option>
  </select>

<label for="type">Type</label>
<select id="type" name="<%=type %>">
  <option value="Auto Rifle">Auto Rifle</option>
  <option value="Scout Rifle">Scout Rifle</option>
  <option value="Sniper Rifle">Sniper Rifle</option>
  <option value="Shotgun">Shotgun</option>
</select>

<label for="cost price">Cost Price</label>



<label for="retail price">Retail Price</label>



<label for="quantity">Quantity</label>

<!-- # <% @manufacturers.each do |manufacturer|
# <label for="name">Name</label>
# <select id="name" name="<% manufacturer.name %>">
#   <option value ="<%= manufacturer.id %>"><<%= manufacturer.name %></option>
#   <% end%>
#  -->
